/* --------------------------------------------------------------

- "Ideasoft" HTML/CSS Framework
- VERSION 3.0

INDEX:
- Reset And Base Styles
- General Styles
- Header Styles
- Navigation Styles
- Content Styles
- Footer Styles
- Block Styles
- Showcase Styles
- Search Styles
- Global Styles
- Product Styles

-------------------------------------------------------------- */

/* --------------------------------------------------------------

	Reset And Base Styles

-------------------------------------------------------------- */

html,body,div,span,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend{border:0;outline:0;font-size:100%;margin:0;padding:0;}ol,ul{list-style:none;}blockquote,q{quotes:none;}:focus{outline:0;}a, img, input{outline:expression(hideFocus='true');outline:none;border:0;text-decoration:none;}a:hover a:focus a:active{outline:expression(hideFocus='true');outline:none;}img{-ms-interpolation-mode:bicubic;zoom:1;}#myAccount{min-height:460px;height:auto!important;height:460px;margin:0 0 10px;position:relative;width:100%;}

/* Extra Styles */
input._typeInput:focus,textarea._textArea:focus,select._selectBox:focus {-moz-box-shadow:0 0 6px #38a6d7;-webkit-box-shadow:0 0 6px #38a6d7;box-shadow:0 0 6px #38a6d7;border:1px solid #38a6d7;}
.filterProductGroupsLevel-Scroll-Title {background:#38a6d7;color:#ffffff;}.boxListRow a {color:#38a6d7;}
.accordionMenu a.accordionSelected{color:#38a6d7;}
.twoStageMenu a.twoStageSelected {color:#38a6d7;}

/* --------------------------------------------------------------

	General Styles

-------------------------------------------------------------- */

body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000000;
	background:#ffffff;
}

#wrapper {
	width:1000px;
}

.wrapperHtmlElementCenter {
	width:1000px;
	margin:0 auto;
}

/* --------------------------------------------------------------

	Header Styles

-------------------------------------------------------------- */

#header {
	width:100%;
	height:251px;
	margin:0 0 20px;
}

.headerTop {
	background:#eeeeee;
	border-bottom:1px solid #dddddd;
	height:30px;
}

.userMenu li {
	float:left;
	line-height:30px;
	margin:0 0 0 15px;
}

.userMenu li a {
	color:#666666;
	font-size:11px;
	padding:0 0 0 8px;
	display:block;
	background:url(images/mini_arrow.png) no-repeat 0 50%;
}

.userMenu li span {
	color:#666666;
	font-size:11px;
}

.userMenu li a:hover {
	color:#1d77a7;
}

.userMenu li a.facebookLogin {
	color:#166a9a;
	font-weight:bold;
}

.headerMiddle {
	height:140px;
}

.headerMiddleLeft {
	width:325px;
	height:140px;
}

.headerMiddleLeft .verticalCenter {
	width:325px;
	height:140px;
	display:table-cell;
	vertical-align:middle;
}

* html .headerMiddleLeft .verticalCenter { /* IE7 HACK */
	height:auto!important;
	margin-top:expression(this.offsetHeight < this.parentNode.offsetHeight ? parseInt((this.parentNode.offsetHeight - this.offsetHeight) / 2)   "px" : "0");
}

.logo {
	display:block;
	margin:0 auto;
}

.logo img, .logo object, .logo embed {
	border:0px;
	max-width:325px;
	max-height:140px;
	width:expression(this.width > 325 ? "325px" : true);
	height:expression(this.height > 140 ? "140px" : true);
}

.headerMiddleRight {
	width:675px;
	height:140px;
}

.headerMiddleRightTop {
	height:42px;
}

.headerMiddleRightMiddle {
	height:51px;
	padding:0 0 17px;
}

.cartAmount {
	width:190px;
	height:51px;
	margin:0 20px 0 0;
	position:relative;
}

.cartAmountIcon {
	width:41px;
	height:41px;
	border:5px solid #dddddd;
	position:absolute;
	left:0px;
	top:0px;
	background:url(images/cart_icon.png) no-repeat 50% 50%;
}

.cartAmount:hover .cartAmountIcon {
	border:5px solid #38a6d7;
}

.cartAmountButton {
	width:136px;
	height:27px;
	padding:1px;
	position:absolute;
	right:0px;
	top:10px;
	border-top:1px solid #dddddd;
	border-bottom:1px solid #dddddd;
	border-right:1px solid #dddddd;
	text-align:center;
}

.cartAmountButton ._floatLeft {
	width:60px;
	height:27px;
	line-height:27px;
	color:#38a6d7;
	font-weight:bold;
	font-size:11px;
}

.cartAmountButton ._floatRight a {
	width:75px;
	height:27px;
	line-height:27px;
	display:block;
	background:#38a6d7;
	color:#ffffff;
	font-weight:bold;
	font-size:11px;
}

.headerMiddleRightBottom {
	height:30px;
}

.defaultMenu {
	padding:0 0 0 15px;
	height:30px;
	background:#eeeeee;
}

.defaultMenu li {
	float:left;
	line-height:30px;
	margin:0 15px 0 0;
}

.defaultMenu li a {
	color:#666666;
	font-size:11px;
	padding:0 0 0 8px;
	display:block;
	background:url(images/mini_arrow.png) no-repeat 0 50%;
}

.defaultMenu li a:hover {
	color:#1d77a7;
}

.menuItemTemplate {
	width:970px;
	height:30px;
	padding:0 10px;
	background:#eeeeee;
}

.menuItemTemplate a {
	line-height:30px;
	margin:0 10px 0 0;
	padding:0 0 0 10px;
	font-size:11px;
	color:#666666;
	float:left;
	display:block;
	background:url(images/menu_item_arrow.png) no-repeat 0 50%;
}

.menuItemTemplate a:hover {
	color:#1d77a7;
}

/* --------------------------------------------------------------

	Navigation Styles

-------------------------------------------------------------- */

.navigation {width:988px;height:48px;border:1px solid #dddddd;}
.navigationRightSpace {width:10px;height:50px;background:#eeeeee;}
a.homeLink {width:48px;height:48px;float:left;padding:0;background:url(images/home_icon.png) no-repeat 50% 17px;}
a.homeLink:hover {background:url(images/home_icon.png) no-repeat 50% -83px;}

/* Smarty Drop Menu Styles */
.dropMenu{float:left;height:48px;position:relative}
.dropMenu>ul{margin:0;padding:0}
.dropMenu>ul>li{float:left;height:48px;line-height:48px;position:relative}
.dropMenu>ul>li>a{color:#666;font-weight:700;display:block;padding:0 15px}
@media all and (min-width:0) {.dropMenu>ul>li>a {padding:0 13px\0/;}}
a.downMenuActiveLink{background:#38a6d7;color:#fff!important}
.dropMenuSubCategory{position:absolute;top:48px;padding:10px 0 0 10px;background:#fff;border:1px solid #ddd;border-top:0;display:none;z-index:9999999}
.dropMenuColumns{float:left;width:188px;margin:0 10px 0 0;border-bottom:1px dotted #aaa}
.dropMenuColumns:last-child{border-bottom:none!important}
.dropMenuColumnsTitle{display:block;line-height:normal;padding:7px 0 7px 0;color:#666}
.dropMenuColumnsTitle:hover{background:#fff;color:#38a6d7}
ul.thirdLevelCategories li{line-height:normal;display:block}
ul.thirdLevelCategories li a{display:block;padding:6px 0 6px 30px;background:url(images/right_arrow.png) no-repeat 15px 50%;color:#666}
ul.thirdLevelCategories li a:hover{color:#38a6d7}
ul.thirdLevelCategories li a.viewAll{display:block;height:auto;line-height:normal;padding:6px 0 6px;background:0;font-size:11px;color:#38a6d7;text-align:right;font-weight:bold}
.byPassLine{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}

.dropMenuImageSubCategory {}
.dropMenuImageColumn {width:80px;height:85px;float:left;margin:5px 6px 5px 5px;padding:12px;border:1px solid #e3e3e3;text-align:center;position:relative;overflow:hidden;}
.dropMenuImageColumn * {line-height:normal;}
.dropMenuImageTop {display:table-cell;vertical-align:middle;text-align:center;width:80px;height:60px;}
.dropMenuImageTop img {max-width:60px;max-height:60px;width:expression(this.width > 60 ? "60px" : true);height:expression(this.height > 60 ? "60px" : true);display:inline-block;border:none;}
.dropMenuImageBottom {height:16px;}
.dropMenuImageBottom a {font-size:11px;color:#333333;}

/* --------------------------------------------------------------

	Content Styles

-------------------------------------------------------------- */

.leftBox {width:230px;margin:0 10px 0 0;}
.subContent {width:760px;overflow:hidden;}
.subExtraPrivateContent {width:1000px;}
#mainContainer {width:1000px;}

/* --------------------------------------------------------------

	Footer Styles

-------------------------------------------------------------- */

.footerTop {height:36px;padding:15px 0 0;background:url(images/footer_repeat_x.png) repeat-x 0 0;}
.announcements {width:506px;height:31px;position:relative;background:url(images/theme_general_image.png) no-repeat 0 -50px;}
.announcementsInput {background:none;border:none;color:#666666;font:11px Arial,Trebuchet MS;font-weight:bold;width:240px;margin:7px 0 0 195px;}
.announcementsButton{width:58px;height:27px;background:0;border:0;position:absolute;right:1px;top:2px;cursor:pointer}
.footerMiddle {padding:20px 0;line-height:20px;background:#eeeeee;color:#666666;}
.footerBottom .wrapperHtmlElementCenter {height:50px;background:url(images/theme_general_image.png) no-repeat 0 0;}

/* --------------------------------------------------------------
  
	Block Styles

-------------------------------------------------------------- */

.blockArea {width:230px;margin:0px 0px 10px 0px;}
.blockTop {background:url(images/theme_line.png) no-repeat 0 100%;width:230px;height:32px;line-height:30px;color:#666666;font-size:12px;font-weight:700;}
.blockContent {font-size:11px;color:#666666;padding:5px 0;}
/* Block Img Resize */
.blockContent img {max-width:100%;height:auto;}
@media \0screen {.blockContent img {width:auto;}}
.blockContent a {color:#666666;}
.blockContent a:hover {color:#38a6d7;}

/* --------------------------------------------------------------
  
	Showcase Styles

-------------------------------------------------------------- */

.showcase {
	width:240px;
	height:343px;
	padding:0 0 2px;
	border-left:1px solid #dddddd;
	border-right:1px solid #dddddd;
	border-top:1px solid #dddddd;
	position:relative;
	background:url(images/theme_line.png) no-repeat 0 100%;
	font-family:Arial,Helvetica,sans-serif;
	margin:0 auto 10px;
}
.showcase:hover {
	border-bottom:2px solid #38a6d7;
	background:none;
	padding:0;
}
.showcase:hover .showcaseView{
	display:block;
}
.showcaseItem {
	width:230px;
	height:68px;
	color:#666666;
	padding:0 5px;
	text-align:center;
	font-weight:bold;
	font-size:11px;
}
.showcaseBrand {
	height:25px;
	padding:5px 0 0;
}
.showcaseTitle {
	height:38px;
	font-weight:normal;
}
.showcaseLink {
	color:#666666;
}
.showcaseLink:hover {
	color:#666666;
}
.showcasePrice {
	height:30px;
}
.showcasePrice ._floatRight {
	font-size:15px;
	font-weight:bold;
	color:#38a6d7;
}
.newBadge {
	width:53px;
	height:25px;
	left:0px;
	top:10px;
	background:url(images/theme_general_image.png) no-repeat -240px -106px;
	z-index:4;
}
.giftBadge {
	width:72px;
	height:25px;
	left:0px;
	top:215px;
	background:url(images/theme_general_image.png) no-repeat -240px -131px;
	z-index:5;
}
.rebateBadge {
	width:85px;
	height:25px;
	line-height:25px;
	right:0px;
	top:215px;
	font-weight:bold;
	color:#ffffff;
	text-shadow:1px 1px 1px #6a0a00;
	padding:0 0 0 15px;
	background:url(images/theme_general_image.png) no-repeat -240px -81px;
	z-index:6;
}
.showcaseNoStock {
	width:240px;
	height:240px;
	left:0px;
	top:0px;
	background:url(images/theme_general_image.png) repeat 0 -81px;
	z-index:7;
}
.showcaseView {
	width:240px;
	height:240px;
	left:0px;
	top:0px;
	display:none;
	background:url(images/theme_general_image.png) repeat -760px -81px;
	z-index:7;
}

/* Showcase Image Vertical And Horizontal Center */

.showcaseImage {
	display:table-cell;
	vertical-align:middle;
	overflow:hidden;
	#position:relative;
	width:240px;
	height:240px;
}
.showcaseImageVertical { /* Dikey */
	#position:absolute;
	#top:50%;
	#left:0px;
}
.showcaseImageHorizontal { /* Yatay */
	#position:relative;
	#top:-50%;
	#left:0px;
	margin:0 auto;
	width:240px;
}
.showcaseImageContent {
	text-align:center;
	margin:0 auto;
	width:240px;
}
.showcaseImageContent img {
	border:0px;
	max-width:240px;
	max-height:240px;
	width:expression(this.width > 240 ? "240px" : true); /* MAX-WIDTH IE HACK */
	height:expression(this.height > 240 ? "240px" : true); /* MAX-HEIGHT IE HACK */
	display:block;
	margin:0 auto;
}
@media screen and (-webkit-min-device-pixel-ratio:0){.showcaseImageContent img {display:inline;}}
.Showitem_parent{border:0;padding:0}.Showitem_parent table.CartBox tr{height:30px}.Showitem_parent table.CartBox tr td{padding:0 0 0 2px}

/* --------------------------------------------------------------
  
	Search Styles

-------------------------------------------------------------- */

.search {width:300px;height:31px;margin:10px 30px 0 0;position:relative;background:url(images/theme_general_image.png) no-repeat -460px -81px;}
.searchInputClass {
	color:#666666;background:none;border:0px;font-size:12px;width:250px;padding:0;height:auto;
	margin:7px 0 0 10px!important; /* Arama kisminda bulunan input text alanin konumunu ayarlar */
}
/*[*2] IE7 ONYL !*/
* html .searchInputClass {margin:6px 0px 0 10px!important;}
/*[*4] IE9 ONYL !*/
@media all and (min-width:0) {.searchInputClass {margin:8px 0px 0 10px\0/ !important;}}
.searchButton {width:27px;height:27px;top:2px;right:2px;background:none;cursor:pointer;padding:0px;color:#fff;border:0px;position:absolute;}

/* Global Search Styles */
#SearchBrands{width:85%!important}

/* --------------------------------------------------------------
  
	Global Styles

-------------------------------------------------------------- */

/* Cart CSS */
.productOnCart{width:100%;height:35px;background:#fbfbfb;border-bottom:1px dashed #595959;margin:0 0 1px 0;font-size:10px;text-align:left!important}.ShoppingCart_normal{background:#fff;z-index:900}.ShoppingCart_hover{background:#afc5dc;z-index:900}#invitationReceipts{width:98%!important}#invitationMessage{width:98%!important}

.ContentBox {color:#333333;}
.ContentBox .Header {background:url(images/theme_line.png) repeat-x 0 100%;color:#636363;font-weight:700;padding:8px 0 9px;margin:0 0 10px 0;}
.ContentBox .Header h1{font-weight:normal;}
.ContentBox table{text-align:left;}.ContentBox .Body{color:#333;font-weight:400;}.ContentBox .Body a{color:#0A6280;}

/* ProductDetail CSS */
.ContentBox2 {color:#333333;}
.ContentBox2 .Header {background:url(images/theme_line.png) repeat-x 0 100%;color:#636363;font-weight:700;padding:8px 0 9px;margin:0 0 10px 0;}
.ContentBox2 .Header h1{font-weight:normal;}
.ContentBox2 table{text-align:left}.ContentBox2 .Footer{display:none}#magnifyarea{background:#fff!important;border:1px solid #dadada!important;-moz-box-shadow:2px 2px 3px #c5c5c5!important;-webkit-box-shadow:2px 2px 3px #c5c5c5!important;filter:progid:DXImageTransform.Microsoft.Shadow(color='#c5c5c5',Direction=145,Strength=3)}

/* Page CSS */
.ContentBox3 {color:#333333;}
.ContentBox3 .Header {background:url(images/theme_line.png) repeat-x 0 100%;color:#636363;font-weight:700;padding:8px 0 9px;margin:0 0 10px 0;}
.ContentBox3 .Header h1{font-weight:normal;}
.ContentBox3 .Body{font-size:12px;padding:5px 10px 10px 10px}.ContentBox3 .Body a{color:#db2f1e}.ContentBox3 .Body a:hover{color:#db2f1e;text-decoration:underline}.ContentBox3 .Footer{display:none}

/* Product Detail Tab Content Area */
.ProductDetail {padding:0px 5px 5px 5px;}.ProductDetail li {list-style-type:disc;margin:5px 0 5px 10px;}.ProductDetail ol li {margin:5px 0 5px 14px;list-style-type:decimal;}
/* Standart Sag Acilan Menu */
.DropDownMenu{display:block}.DropDownMenu .Menu{line-height:20px}.DropDownMenu .AbsoluteMenu{line-height:20px;border-top:1px solid #e7e7e7;border-left:1px solid #e7e7e7;border-right:1px solid #e7e7e7;background:#fff;margin:-1px 0 0 0}.DropDownMenu .AbsoluteMenu .MenuItem{border-bottom:1px solid #e7e7e7!important}.DropDownMenu .MenuItem{display:block;width:100%;line-height:20px;border-bottom:1px dotted #e7e7e7}.DropDownMenu .MenuItem a{display:block;font:normal 11px;padding:0 0 0 4px;line-height:20px;vertical-align:middle;color:#1e1e1e;background-position:98% 50%!important}.DropDownMenu .MenuItem a:hover{background-color:#eee!important}.DropDownMenu .MenuItem img{margin:-2px 4px 0 6px;vertical-align:middle}

/* ---------->>> Kademeli Menu */
.DropDownMenu2 a {font-weight:700;font-size:11px;font-family:Tahoma, Geneva, sans-serif;color:#4d4d4d;height:21px;line-height:21px;}
.DropDownMenu2 a:hover {color:#FF920B;}
.DropDownMenu2 img {display:none;}
.DropDownMenu2 .parentItem a {background:url(images/product_group_icons.png) no-repeat -400px 51%;padding:0 0 0 15px;}
.DropDownMenu2 .mainDiv {padding:0 0 0 12px;}
.DropDownMenu2 .mainDiv .mainItem a {padding:0 0 0 15px;}
.DropDownMenu2 .mainDiv>.mainDiv .mainItem a,.DropDownMenu2 .mainDiv>.mainDiv .mainItem a.selectedItem{padding:0 0 0 3px}.DropDownMenu2 .mainDiv>.mainDiv>.mainDiv .mainItem a,.DropDownMenu2 .mainDiv>.mainDiv>.mainDiv .mainItem a.selectedItem{margin-left:-13px}.DropDownMenu2 .mainDiv>.mainDiv>.mainDiv>.mainDiv .mainItem a,.DropDownMenu2 .mainDiv>.mainDiv>.mainDiv>.mainDiv .mainItem a.selectedItem{margin-left:-25px}.DropDownMenu2 .mainDiv>.mainDiv>.mainDiv>.mainDiv>.mainDiv .mainItem a,.DropDownMenu2 .mainDiv>.mainDiv>.mainDiv>.mainDiv>.mainDiv .mainItem a.selectedItem{margin-left:-37px}.DropDownMenu2 .mainDiv>.mainDiv>.mainDiv>.mainDiv>.mainDiv>.mainDiv .mainItem a,.DropDownMenu2 .mainDiv>.mainDiv>.mainDiv>.mainDiv>.mainDiv>.mainDiv .mainItem a.selectedItem{margin-left:-50px}@media all and (min-width:0){.DropDownMenu2 .mainDiv>.mainDiv .mainItem a,.DropDownMenu2 .mainDiv>.mainDiv .mainItem a.selectedItem{padding:0 0 0 1px\0/}.DropDownMenu2 .mainDiv>.mainDiv>.mainDiv .mainItem a,.DropDownMenu2 .mainDiv>.mainDiv>.mainDiv .mainItem a.selectedItem{margin-left:-14px\0/}.DropDownMenu2 .mainDiv>.mainDiv>.mainDiv>.mainDiv .mainItem a,.DropDownMenu2 .mainDiv>.mainDiv>.mainDiv>.mainDiv .mainItem a.selectedItem{margin-left:-28px\0/}.DropDownMenu2 .mainDiv>.mainDiv>.mainDiv>.mainDiv>.mainDiv .mainItem a,.DropDownMenu2 .mainDiv>.mainDiv>.mainDiv>.mainDiv>.mainDiv .mainItem a.selectedItem{margin-left:-41px\0/}.DropDownMenu2 .mainDiv>.mainDiv>.mainDiv>.mainDiv>.mainDiv>.mainDiv .mainItem a,.DropDownMenu2 .mainDiv>.mainDiv>.mainDiv>.mainDiv>.mainDiv>.mainDiv .mainItem a.selectedItem{margin-left:-56px\0/}}
.DropDownMenu2 .mainDiv .mainItem {background:url(images/product_group_icons.png) no-repeat 2px 9px;}
.DropDownMenu2 .mainDiv .mainItem a.selectedItem {color:#FF920B;padding:0 0 0 15px;}

/* ---------->>> Standart Menu */
.DropDownMenu3 a {display:block;font-weight:700;font-size:11px;font-family:Tahoma, Geneva, sans-serif;color:#4d4d4d;}
.DropDownMenu3 a:hover {color:#FF920B;}
.DropDownMenu3 img {display:none;}
.DropDownMenu3 .parentItem {background:url(images/product_group_icons.png) no-repeat -1610px 58%;padding:5px 0 5px 12px;display:block;font-weight:700;font-size:11px;color:#4d4d4d;}
.DropDownMenu3 .mainDiv .subDiv a.menuItem, .DropDownMenu3 .mainDiv .subDiv a.selectedItem {background:url(images/product_group_icons.png) no-repeat 13px 70%;padding:5px 0 5px 25px;}
.DropDownMenu3 .mainDiv .menuItem a.selectedItem {color:#8cb813;background:url(images/product_group_icons.png) no-repeat -787px 70%;}
.DropDownMenu3 .mainDiv .subDiv a.selectedItem {color:#8cb813;background:url(images/product_group_icons.png) no-repeat -787px 70%;}
.DropDownMenu3 .footerItem a {background:url(images/product_group_icons.png) no-repeat -1208px 70%;padding:5px 0 5px 14px;}

/* ---------->>> Standart Filtre Menusu */
#cat2 a {color:#444;font-weight:700;font-size:11px;font-family:Tahoma, Geneva, sans-serif;display:block;}
#cat2 li > a {padding:5px 0 5px 18px;background:url(images/product_group_icons2.png) no-repeat -1200px 54%;}
#cat2 a:hover {color:#ff920b;}
#cat2 img {display:none;}
a.filter_link {position:absolute;top:6px;right:5px;width:24px;height:24px;}
a.filter_link img {display:block !important;width:18px !important;height:16px !important;}
#cat2 li ul li a {padding:5px 0 5px 33px !important;background:url(images/product_group_icons2.png) no-repeat -1183px 54% !important;}
#cat2 li span {color:#ff920b;font-weight:700;font-size:11px;padding:5px 0 5px 18px;display:block;background:url(images/product_group_icons2.png) no-repeat 0 54%;}
#cat2 li.cat_last a {padding:5px 0 5px 18px;background:url(images/product_group_icons2.png) no-repeat 0 54% !important;}
#cat2 h4 {background:#ececec;border:1px solid #cccccc;text-align:left;position:relative;padding:0 0 0 18px;height:29px;line-height:29px;color:#444;font-size:12px;font-weight:700;margin:5px 0;}
#cat2 h4   div {display:none;}
#cat_selected {background:#ececec;border:1px solid #cccccc;padding:0 5px;margin:0 0 5px;}
#cat_selected h5 {height:25px;line-height:25px;color:#444;font-size:11px;font-weight:700;text-align:left;padding:0 0 0 10px;}
#cat_selected li {color:#fff;font-size:11px;font-weight:700;text-align:left;height:23px;line-height:23px;background:#676767;margin:0 0 5px;padding:0 0 0 10px;position:relative;}
#cat_selected li img {display:none;}
#cat_selected li a {width:12px;height:12px;position:absolute;top:5px;right:5px;background:url(images/product_group_icons2.png) no-repeat -1600px 54%;}
.continueBoxWrapper a {padding:5px 0 5px 20px;background:url(images/product_group_icons2.png) no-repeat -1996px 65%;}
.showBoxLinkWrapper a {padding:5px 0 5px 20px;display:none!important;background:url(images/product_group_icons2.png) no-repeat -2396px 56%;}

/* Block CSS */
#LeftBlocksList{padding:0;margin:0}#RightBlocksList{padding:0;margin:0}#PageOver{background:url(/images/overlay.png) repeat scroll 0 0 transparent;width:100%;height:100%;position:absolute;left:0;top:0}

/* Content Dialog CSS */
.ContentDialog{top:50px;font-size:12px;font-weight:normal;border:1px solid #999;background:#FFF;padding:0;display:none;visibility:hidden;position:absolute;width:700px;-moz-border-radius:4px 4px 4px 4px}.ContentDialog .Header{border:1px solid #999;background:#CCC;font-weight:bold;color:#333;padding:0 0 0 10px;height:30px;vertical-align:middle;line-height:30px;margin:4px;-moz-border-radius:4px 4px 4px 4px}.ContentDialog .FormKey{font-weight:bold;vertical-align:top}.ContentDialog .Body{font-size:10px;heigth:auto;overflow:auto}.ContentDialog .TextBox{font-weight:bold}.ContentDialog .DropDown{height:21px;line-height:21px;font-size:11px;color:#666;float:left}.ContentDialogNoHeader{position:absolute;left:0;top:0;display:none;visibility:hidden;padding:0}.ContentDialog .Footer{background:url(images/sprite.png) no-repeat -971px -243px;line-height:16px;height:16px;width:16px;float:right}.ContentDialog .Button{background:url(images/sprite.png) no-repeat -57px -168px;border:0;color:#444;font-family:Arial,Helvetica,sans-serif;font-size:11px;font-weight:700;line-height:24px;height:25px;width:89px;text-align:center;cursor:pointer;margin:5px 0;padding:0}

/* Show Item List (Liste Gorunumu) */
.ShowItemList{width:100%;border-bottom:1px solid #f0f0f0!important;border-left:1px solid #f0f0f0;border-right:1px solid #f0f0f0;font-size:11px;font-weight:400;color:#1e1e1e;height:40px;padding:0 2px;margin:0 0 1px 0;*margin:0;background:#f7f7f7}

/* LightBox Image CSS */
#lightbox{background:#eee;padding:10px;border-bottom:1px solid #666;border-right:1px solid #666}#lightboxCaption{color:#333;background:#eee;font-size:90%;text-align:center;border-bottom:1px solid #666;border-right:1px solid #666}#lightboxIndicator{border:1px solid white}#lightboxOverallView,#overlay{background:#000;opacity:.5}* html #lightboxOverallView,* html #overlay{background:#000;filter:Alpha(opacity=50)}

/* Tabli Vitrin Sablonu */

.ui-tabs-hide{display:none}
@media print{.ui-tabs-nav{display:none}}
.ui-tabs-nav, .ui-tabs-panel{font-family:Tahoma;font-size:12px}
.ui-tabs-nav{list-style:none;margin:0;padding:0;background:#eee;border-radius:3px 3px 0 0;height:35px;}
.ui-tabs-nav:after{display:block;clear:both;content:""}
.ui-tabs-nav li{float:left;padding:3px 14px;*width:140px;min-width:120px;margin:9px 0 0 8px;background:#fff;border-radius:3px 3px 0 0;}
.ui-tabs-nav a, .ui-tabs-nav a span{display:block;}
.ui-tabs-nav a{margin:1px 0 0;padding:0;color:#8B8B8B;font-weight:bold;line-height:1.2;text-align:center;text-decoration:none;margin:2px 0 0 0;white-space:nowrap;outline:0;}
.ui-tabs-nav .ui-tabs-selected a{z-index:2;color:#000}
.ui-tabs-nav a span{min-width:64px;height:25px;min-height:18px;padding:0;*padding:5px 0 0 0;}
.ui-tabs-nav .ui-tabs-selected a span{padding:0;*padding:5px 0 0 0;}
.ui-tabs-nav .ui-tabs-selected a span, .ui-tabs-nav a:hover span, .ui-tabs-nav a:focus span, .ui-tabs-nav a:active span{color:#F38903;}
.ui-tabs-nav .ui-tabs-selected a:link, .ui-tabs-nav .ui-tabs-selected a:visited, .ui-tabs-nav .ui-tabs-disabled a:link, .ui-tabs-nav .ui-tabs-disabled a:visited{cursor:pointer;}
.ui-tabs-nav a:hover, .ui-tabs-nav a:focus, .ui-tabs-nav a:active, 
.ui-tabs-nav .ui-tabs-deselectable a:hover, .ui-tabs-nav .ui-tabs-deselectable a:focus, .ui-tabs-nav .ui-tabs-deselectable a:active{cursor:pointer}
.ui-tabs-disabled{opacity:.4;filter:alpha(opacity=40)}
.ui-tabs-panel{border-top:0px;padding:1em 0 0 0;background:#fff}
.ui-tabs-loading em{padding:0 0 0 20px}
* html .ui-tabs-nav{display:inline-block}
*:first-child html .ui-tabs-nav{display:inline-block}
#slideFooter {background:#eff5f2;border-radius:0 0 5px 5px;height:34px;margin:0px !important;padding:10px 0 0;}
#slideContent .AlertBox {
	height:px; /* Bu height değerinin yaklaşık alması gereken değer showcase height değerinin 14px fazlası olması lazım */
	min-height:px; /* Bu height değerinin yaklaşık alması gereken değer showcase height değerinin 14px fazlası olması lazım */
	height:auto !important;
}
#slideContent table {border-collapse:collapse;border-spacing:0!important;*border-collapse:expression('collapse',cellSpacing = '0px')}
#slideLoading {
	height:px; /* Bu height değerinin yaklaşık alması gereken değer showcase height değerinin 14px fazlası olması lazım*/
	min-height:px; /* Bu height değerinin yaklaşık alması gereken değer showcase height değerinin 14px fazlası olması lazım*/
	height:auto !important;
}

/* Promotion CSS */
a.promotionBtn1{background:url/images/promotion/selectPromotion.png);text-decoration:none;width:85px;height:32px;_height:38px;display:block;padding:6px 0 0 0;text-align:center;font-size:11px;font-weight:bold!important;color:#444!important}.promotionBtn2{background:url(/images/promotion/activePromotion.png);text-decoration:none;width:85px;height:31px;display:block;padding:4px 0 3px 0;text-align:center;font-size:11px;font-weight:bold;color:#fff!important}* html .promotionBtn2{padding:6px 0 6px 0}.promotionGiftIcon{background:url(/images/promotion/prohe.png) no-repeat;display:block;width:16px;height:16px}.promotionRebateIcon{background:url(/images/promotion/proin.png) no-repeat;display:block;width:16px;height:14px}.promotionPointIcon{background:url(/images/promotion/proPoint.png) no-repeat;display:block;width:16px;height:14px}#promotionGeneralContent{padding-bottom:10px}#promotionGeneralContent .Header{padding:13px 0 10px 10px!important}.promotions_cartHeader{height:26px;background:url(/images/promotion/promotionsTitleBg.png) repeat-x;line-height:26px;border-left:1px solid #ccc;border-right:1px solid #ccc;border-bottom:1px dotted #e0e0e0;font-weight:700;font-size:11px;color:red;padding:0 0 0 10px}.proPadding{padding:0 0 0 15px}.promotionBold{font-weight:700}.promotionRedF{color:red}.promotionLineThrough{text-decoration:line-through}.promotions_cartContent{height:61px;border-bottom:1px dotted #e0e0e0;border-collapse:collapse;border-spacing:0}.renkDegis{background:#f5f5fa}.promotions_cartContentTd{font-size:11px;border-left:1px solid #ccc}.promotions_cartContentTd2{font-size:11px}.promotions_cartContentTd3{font-size:11px;border-right:1px solid #ccc;border-left:1px solid #ccc}.promotionBottom{height:28px;background:#fffbcc;border:1px solid #fff35e;font-size:11px}.promotions_productHeader{height:35px;background:url(/images/promotion/promotions_productTitle.png) repeat-x;line-height:35px;font-weight:700;font-size:12px;color:#006cc8;padding:0 0 0 10px}#cartPromotion{position:relative;text-indent:0!important}a.proUyariLink{background:url(/images/promotion/uyariSol.png) no-repeat scroll left top;color:#FFF!important;font-size:11px!important;height:21px;position:absolute;right:5px;top:-55px}.proUyariLink span{background:url(/images/promotion/uyariSag.png) repeat-x top right;height:21px;line-height:17px;float:left;margin:0 0 0 5px;padding:0 7px 0 5px}.proUyariLink{cursor:pointer}.uyariKutu{background:none repeat scroll 0 0 #ad0000;border-bottom:1px solid #740000;border-left:1px solid #740000;border-right:1px solid #740000;display:none;height:auto!important;min-height:114px;position:absolute;right:5px;top:-39px;width:375px;z-index:1000;padding:10px 5px 7px}.ProItem1{border:1px solid #CCC;margin-bottom:15px;padding:5px}.ProItem1 h1{font-size:11px;font-weight:700;color:#fff;border-bottom:1px dotted #fff;margin:0;padding:0 0 3px}.uyariKutuItem{min-height:45px;height:auto!important;padding-top:5px;font-size:11px;color:#fff;font-weight:400}#uyariKutuItem1{width:48px;height:48px}#uyariKutuItem4{width:268px;height:48px}#uyariKutuItem1Son{width:48px;height:48px;padding-left:5px}.uyariKutuItemSon{background:none repeat scroll 0 0 #FFF;border:medium none;color:#3f3131;font-size:11px;height:auto!important;min-height:55px;padding-top:5px;margin-top:5px}.orderWarningImg{vertical-align:bottom}#optionsProducts{background:#eee}a.optionsProductsLink{color:red!important;background:url(/images/promotion/selectPromotion.png);line-height:15px;text-decoration:none;width:85px;height:32px;_height:38px;display:block;text-align:center;font-size:11px;font-weight:700;margin:5px 6px 5px 0;padding:6px 0 0}a.optionsProductsLink:hover{text-decoration:none}#selectPromotion{padding:5px 0 5px 6px}#OpenPromotionProducts_Body{height:600px;min-height:600px}html>body #OpenPromotionProducts_Body{height:auto}.promotionPopupContentArea{width:675px;height:541px;background:#fff;margin:0 auto;padding:16px 11px 16px 12px}.promotionPopupMessage{width:663px;height:26px;line-height:26px;background:#fffbcc;border:1px solid #fff35e;margin:0 0 5px;padding:0 0 0 10px}.promotionPopupMessage span{color:red;font-weight:700}.promotionPopupMessage a{color:#333}.promotionPopupProductNameList{width:663px;height:27px;line-height:27px;background:#eeeeee;border-left:1px solid #ccc;border-right:1px solid #ccc;font-weight:700;padding:0 0 0 10px}.promotionPopupNameList_1{width:246px}.promotionPopupNameList_2{width:122px}.promotionPopupNameList_3{width:105px}.promotionPopupNameList_4{width:50px}.promotionPopupNameList_5{width:100px}.promotionPopupTitle{width:663px;height:50px;line-height:50px;border-left:1px solid #CCC;border-right:1px solid #CCC;border-color:#CCC;border-style:solid;border-width:1px;margin:0 0 -1px;padding:0 0 0 10px}.promotionPopupTitleLeft{float:left;width:515px;height:50px;background:url(/images/navlist_arrow.png) no-repeat 0 22px;padding:0 0 0 10px}.promotionPopupTitleRight{float:right;width:130px;height:50px;margin:0 5px 0 0;padding:0}#promotionPopupListArea{background:none repeat scroll 0 0 #EEE;border-bottom:1px solid #CCC;border-left:1px solid #CCC;border-right:1px solid #CCC;height:120px;overflow:auto;margin:1px 0 5px}.promotionPopupList{width:646px;background:#eee;padding:0 0 0 10px}.kutuSol,.promotionPopupProductNameList div{float:left}.ProItem1>.uyariKutuItem a,.ProItem1>.uyariKutuItem a:hover{color:#fff;font-size:11px!important;text-decoration:none}#uyariKutuItem1 img,#uyariKutuItem1Son img{width:48px;height:48px;border:1px solid #920000}#uyariKutuItem2,#uyariKutuItem2Son{width:210px;margin-left:5px;padding:0 3px}#uyariKutuItem3,#uyariKutuItem3Son{height:44px;text-align:right;padding:6px 0 0}.orderWarningColor1,.orderWarningColor2{color:#444}#optionsProducts td,#optionsProducts2 td{padding:2px}.promotionPopupMaterialTitle,.promotionPopupProductName{width:663px;height:33px;line-height:33px;background:#eeeeee;border-top:1px solid #ccc;border-bottom:1px solid #ccc;border-left:1px solid #ccc;border-right:1px solid #ccc;font-weight:700;padding:0 0 0 10px}/*\*/**//*\*/**/.promotionPopupListItem{height:40px;line-height:40px}.promotionPopupListItem_1{line-height:11px;position:relative;top:36%;width:224px}.promotionPopupListItem_2{width:122px;height:40px;vertical-align:middle}.promotionPopupListItem_3{width:105px;height:40px}.promotionPopupListItem_4{width:50px;height:40px}.promotionPopupListItem_5{width:100px;height:40px}.promotionPopupListItem_N{width:23px;height:29px;padding:11px 0 0}.promotionPopupSingleTitle{width:663px;height:50px;line-height:50px;border:1px solid #ccc;margin:0 0 5px;padding:0 0 0 10px}.promotionPopupSingleTitleItem{line-height:normal;}.promotionPopupSingleTitleItem_1{width:222px;height:40px;padding:10px 0 0;}.promotionPopupSingleTitleItem_2{width:124px;height:40px;padding:10px 0 0;}.promotionPopupSingleTitleItem_3{width:105px;height:40px;padding:10px 0 0;}.promotionPopupSingleTitleItem_4{width:50px;height:40px;padding:10px 0 0;}.promotionPopupSingleTitleItem_5{width:100px;height:40px;padding:10px 0 0;}.promotionPopupSingleTitleItem_N{width:23px;height:33px;padding:16px 0 0}.promotionPopupSelect{width:395px;height:35px;float:right}.promotionPopupSelect a{float:right}.promotionTooltip{background:#333;color:#fff;padding:8px 6px}.promotionPopupListItem div,.promotionPopupSingleTitleItem div{float:left}.ContentDialog #OpenPromotionProducts_Body{padding:0 0 10px 0;overflow:auto}

/* --------------------------------------------------------------
  
	Product Styles

-------------------------------------------------------------- */
.productArea{width:760px}
.productArea a{color:#38a6d7}
.productArea a:hover{text-decoration:underline}
.productLeft{width:260px;margin:0 20px 0 10px}
.productImages{width:258px;height:259px;border-left:1px solid #ddd;border-right:1px solid #ddd;border-top:1px solid #ddd}
.ImageSize{width:260px;height:25px;line-height:25px;background:#38a6d7;text-align:center}
.ImageSize a{display:-moz-inline-stack!important;display:inline-block!important;*display:inline!important;zoom:1!important;padding:0 0 0 17px;background:url(images/image_size_icon.png) no-repeat 0 50%;font-size:11px;font-weight:bold;color:#fff}
.thumbsImage{width:260px}
.thumbsImageIcon{width:50px;height:60px;background:url(images/theme_general_image.png) no-repeat -710px -261px}
.thumbsImageList{width:201px;height:42px;padding:9px 0 9px 9px;background:#eee}
.thumbsImage a{display:-moz-inline-stack!important;display:inline-block!important;*display:inline!important;zoom:1!important;text-align:center;width:40px;height:40px;margin:0 4px 0 0;background:#fff;border:1px solid #ddd}
.thumbsImage img{width:auto!important;height:40px!important;max-width:40px;width:expression(this.width>40 ? "40px":true);}
.productRight{width:470px}
.productListGroup1{border-bottom:1px solid #ddd;padding:0 0 5px}
.productListGroup2{padding:5px 0}
.productListGroup3{padding:10px 0 0}

/* Product List CSS */
.rowspan {color:#666666;font-size:11px;font-weight:400;font-family:Arial, Helvetica, sans-serif;}
.rowspan td {padding:5px 0 5px 0;}
.rowspan.row1 h1 {font-size:18px;font-weight:bold;}
.rowspan.row2 a {color:#999999;font-weight:bold;}
.rowspan.row3 {color:#38a6d7;font-size:18px;font-weight:bold;}
.rowspan.row4 {color:#e13b3b;font-size:18px;font-weight:bold;}
.rowspan.row5 {color:#ff7e00;font-size:18px;font-weight:bold;}

/* Product Tab CSS */
.productTabContainer{width:760px}
.productTabHeader{height:40px}
.productTabHeader li{float:left;margin:0;font-size:16px;text-align:center;background:#eee;border-right:1px solid #fff}
.productTabHeader li a{display:block;height:40px;line-height:40px;font-size:12px;font-weight:bold;padding:0 15px}
.DivMenuActive a{color:#38a6d7!important}
.DivMenuPassive a{color:#777!important}
.productTabContent{padding:0 0 0 10px;background:#eee}
.productTabContent>div{padding:10px 5px 8px 7px;line-height:20px;font-size:12px;font-family:Arial,Helvetica,sans-serif;color:#666;background:#fff;border:1px solid #ddd}
.productTabContent>div:before,.productTabContent>div:after{content:'.';display:block;overflow:hidden;visibility:hidden;font-size:0;line-height:0;width:0;height:0}
.productTabContent>div:after{clear:both}
.productTabContent>div{zoom:1}
.productTabBottom{width:760px;height:60px;background:#eee}
.productTabBottom>._floatLeft{padding:20px 0 0 10px}
.productTabBottom>._floatRight{padding:14px 10px 0 0}
.productTabBottom>._floatRight>._floatLeft{padding:10px 10px 0 0;color:#777;font-size:11px}
.offeredHeader.Header td {padding:12px 0 15px!important;}
#exportFrame {display:none;}
#iframe1 {display:none;}
#ProductBox_Header {display:none;}
#quantityWarn {border:1px solid #ccc;position:absolute;left:0px;top:0px;z-index:44;padding:5px 10px;}
.favoriesButtons span {top:-25px;left:0px;position:absolute;}

/* Product Image Vertical And Horizontal Center */
.scProPicture{display:table-cell;vertical-align:middle;overflow:hidden;#position:relative;width:258px;height:259px}
.scProPicturedArea{#position:absolute;#top:50%;#left:0}
.scProPictureyArea{#position:relative;#top:-50%;#left:0;margin:0 auto;width:258px}
.scProPictureMean{text-align:center;margin:0 auto;width:258px}
.scProPictureMean img{border:0;max-width:258px;max-height:259px;width:expression(this.width>258 ? "258px":true);height:expression(this.height>259 ? "259px":true);display:block;margin:0 auto}
@media screen and (-webkit-min-device-pixel-ratio:0){.scPictureMean img {display:inline;}}

/* Mid Block Styles */
.startMidBlock {border-bottom:2px solid #dddddd;margin:0 0 10px;}
.startMidBlock .Header {padding:8px 0;}
.startMidBlock .ShowcaseContainer {padding:10px 0 20px 0;}

/* licensed by ideasoft */ 